@model List<Category>
@{
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
    int count = 0;
}

<!DOCTYPE html>

<br />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Id</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory" class="btn btn-primary">Yeni Kategori Girişi</a>
</div> 